body {
  background: #0f0f0f;
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  background: #ff9800;
  color: #000;
  padding: 15px;
  margin: 0;
}

.box {
  background: #1c1c1c;
  margin: 15px;
  padding: 15px;
  border-radius: 12px;
}

input, button {
  width: 90%;
  padding: 12px;
  margin: 6px 0;
  border-radius: 8px;
  border: none;
}

button {
  background: #ff9800;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
